*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000000;
}
.cartelera{
    width: 396px;
    height: 395px;
    margin: 35px 10px 0px 35px;
    border-width: 2px 2px 0px 0px;
    border-style: solid;
    border-color: #FF0000;
    border-radius: 0 30px 0 0;
   
}
.cartelera__header{
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 36px;
    padding-top: 25px;
}
.header__fecha{
    width: 66px;
    font-family: 'Genos';
}
.fecha__dia{
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
}
.fecha__mes{
    background-color: #FFFFFF;
    border-radius: 6px;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    line-height: 30px;
}
.header__pais{
    background: url("/assets/IMG_0495\ 1.png");
    width: 51px;
    height: 23px;
    border-radius: 5px;
}
.cartelera__main{
    border-top: 1px solid #FFFFFF;
    margin-top: 19px;
    margin-right: 2px;
}
.cartelera__text{
    font-family: 'Cairo';
    color: #FFFFFF;
}
.cartelera__titulo{
    font-weight: 700;
    font-size: 20px;
    line-height: 37px;
}
.cartelera__signo{
    position: absolute;
    top: 150px;
    left: 147px;
}
.cartelera__texto{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
}
.cartelera__año{
    font-family: 'Genos';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px; 
    margin-left: 7.98px;  
}
.cartelera__datos{
    margin-top: 11px;
    margin-bottom: 15px;
}
.datos__uno{
    display: flex;
    justify-content: space-between;
    margin-right: 38.8px;
}
.datos__dos{
    display: flex;
    justify-content: space-between;
    margin-right: 38.8px;
    margin-top: 17px ;
}
.practicas{
    font-family: 'Genos';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
    margin-bottom: 5.4px;
}
.dia{
    font-family: 'Genos';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
    margin-bottom: 5.4px;
}
.hora{
    background: #FFFFFF;
    border-radius: 7px;
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: #FF0000;
    width: 101.9px;
    height: 19.62px;
    margin-top: 10.4px;
    text-align: center;
}
.modificador__hora{
    margin-top: 5px;
}
.modificador__gris{
    margin-top: 5px;
    background: #3D3A3A;
    color: #FFFFFF;
}
.dias_modificador{
    margin-right: 16px;
}
.modificador__rojo{
    background: #FF0000;
    color: #FFFFFF;
}
.bottom__texto{
    text-align: center;   
    font-family: 'Genos';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    margin-right: 60px;
    margin-top: 10px;
}
.canada{
    background: url("/assets/IMG_0496\ 1.png");
}
.cartelera__round{
    position: absolute;
    top: 23px;
    background-color: #000000;
    width: 78px;
}
.cartelera__round__titulo{
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: #FF0000;
}
.cartelera__signo_dos{
    position: absolute;
    top: 580px;
    left: 113px;
    
}